<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}

    <title>Document</title>
</head>

<body>
    <h1>
        Favorite Acronyms
    </h1>
    <p>
        Miguel T : FOMO (Fear of Missing out)
    </p>
    <h2>
        Image
    </h2>
    <div class="text-center">

        <img  class="rounded w-50 img-thumbnail" src="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/4/19/d1jrdrpou7hvstulfozq/red-bull-campus-clutch-valorant-agents-phoenix-jett">
        
        </div>
</body>

</html>